.filterableProductTable{
    width: 300px;
    border: 1px solid blue;
    padding: 10px;

    table {
        width: 100%;
        td {
            text-align: left;
        }
    }
}

.searchBar {
    input[type=text] {
        width: 100%;
    }
}